<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body ng-app>
        <!-- <h1>{{user.name}}</h1>
        <input type="text" ng-model="user.name"> -->

        <input type="text" ng-model="inp.t1"> -
        <input type="text" ng-model="inp.t2">
        <h1>{{ inp.t1 - inp.t2 }}</h1>
    </body>
    <script src="./bower_components/angular/angular.js"></script>
    <script>
    </script>

</html>
